.translate {
    /* background-color: aqua; */
    position: relative;
}
.translate :global(.filepond--credits) {
    display: none;
}
.translate :global(.filepond--panel-root) {
    background: transparent;
}
/* 机器快转内容高度 */
.translate :global(.filepond--root) {
    height: 490px !important;
}
/* 人工精转内容高度 */
.people :global(.filepond--root) {
    height: 190px !important;
    margin-bottom: 0;
}

.translate :global(.filepond--panel) {
    width: 308px;
    height: 340px;
    background: #fff8f4 !important;
    border-radius: 8px;
    border: 2px dashed #e2c6b6 !important;
}
/* 人工精转内容高度 */
.people :global(filepond--panel) {
    height: 190px !important;
}
.translate :global(.filepond--list-scroller) {
    display: none;
}
.translate :global(.filepond--drop-label) {
    width: 100%;
    height: 100%;
}
.translate :global(.lable-box) {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.translate :global(.table-image) {
    width: 48px;
    height: 48px;
    background: url("./../../../public/images/transfer/upload-image.png") no-repeat 100% 100%;
    margin-bottom: 16px;
}
.translate :global(.table-title) {
    font-size: 16px;
    font-weight: 400;
    color: #333333;
    line-height: 14px;
    margin-bottom: 12px;
}
.translate :global(.table-info) {
    font-size: 12px;
    font-weight: 400;
    color: #acacac;
    line-height: 17px;
}
.translate :global(.filepond--list-scroller) {
    display: none;
}
